div.addon:hover {
    background-color: #ebebeb;
}

div.addon {
    padding-top: 25px;
    padding-bottom: 25px;
}

div.addon > h1 {
    margin: 0px;
    text-align: left;
    font-size: 1.2em;
    line-height: 32px;
    padding-left: 10px;
}

div.addon > h1 > img {
    vertical-align: top;
}

div.addon > div.conceitos {
    float: right;
    display: block;
    text-align: right;
    font-size: 0.9em;
}

div.addon > div.conceitos > a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #0600be;
    text-decoration: none;
}

div.addon > div.conceitos > a:hover {
    cursor: pointer;
    color: #4d47ff;
}

div.addon > div.conceitos > h1 {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    padding-right: 15px;
}

div.addon > ul {
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
    list-style-type: square;
}

div.addon > ul > li {
    margin: 0px;
    padding-left: 1em;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
    text-align: justify;
    padding-right: 10px;
}

div.addon > span {
    display: block;
    width: 0px;
    height: 0px;
    clear: both;
}

h1.addonHeader {
    font-size: 1.4em;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
}

p.addonExp {
    text-align: justify;
    text-indent: 1em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.9em;
}

p.addonExp:hover {
    background-color: #eeeeee;
}

#addonTipos {
    text-align: center;
}

#addonTipos > h1 {
    font-size: 1em;
}

#addonTipos > a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #0500ab;
    text-decoration: none;
}

#addonTipos > a:hover {
    color: #5650ff;
    cursor: pointer;
}

#addonTipos > a:active {
    color: #2520c6;
}