html, body {
    margin: 0px;
    padding: 0px;
    font-family: alegreya;
    background: none;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* List into full width menu */
ul.menu {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    width: 100%;
    display: block;
    background-color: #333745;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}

ul.menu > li {
    display: inline-block;
}

ul.menu > li:hover {
    cursor: pointer;
    color: #FF0000;
}

ul.menu > li:active {
    color: #bf0000;
}

ul.menu > li:nth-child(1n+2):before {
    content: '| ';
    color: #ffffff; 
}


/* Arquetipos */

div.arquetipo {
    padding: 10px;
    border-bottom: 4px solid #000;
}

div.arquetipo p {
    margin: 0px;
}

div.arquetipo:hover {
    background-color: rgba(255,255,255,.1);
}

div.arquetipo > h1 {
    text-align: center;
    color: #000;
    font-size: 2.4em;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.arquetipo > div.descricao > p, div.arquetipo > p.joguese {
    text-align: justify;
    text-indent: 1em;
}

div.arquetipo > p.joguese > b {
    font-size: 1.3em;
}

div.arquetipo > p.joguese {
    margin-top: 30px;
}

div.arquetipo > h2 {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
}

div.arquetipo > p.atributos {
    text-align: justify;
    text-indent: 1em;
}

div.arquetipo > div.vantagens > p {
    margin-bottom: 20px;
    margin: -10px;
    padding: 20px;
    text-align: justify;
    text-indent: 1em;
}

div.arquetipo > div.vantagens > p:hover {
    background-color: rgba(255,255,255,.3);
}


/* Div into content block */

div.ajaxBlock {
    display: block;
    width: 100%;
}

/* Changelog */

#changelog {
    position: absolute;
    top: 40px;
    height: 35px;
    background-color: #a0a0b6;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 100;
}

#changelog > h1 {
    text-align: center;
    font-size: 1.2em;
    color: #00004a;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

#changelog > h1:hover {
    cursor: pointer;
    color: #4330dd;
    background-color: rgba(255,255,255,.3);
}

#changelog > h1:active {
    color: #1e0ea9;
    background-color: rgba(255,255,255,.1);
}

#changelog > ul {
    margin-top: 30px;
    text-align: justify;
    list-style: square inside;
    margin-left: 0px;
    padding: 0px;
}

#changelog > ul > li {
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#changelog > ul > li:before {
    content: attr(data-major) "." attr(data-minor) "." attr(data-release);
}

#changelog > ul > li:hover {
    background-color: rgba(255,255,255,.2);
}


#conteudo {
    position: absolute;
    top: 75px;
    bottom: 0px;
    background-color: #5d5d8e;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Loading */

#loadingPage {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
}

#loadingPage > a {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

.spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    -webkit-animation: rotation 1.2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.whiteLoading {
    background-image: url('../img/spinWhite.png');
}

.blackLoading {
    background-image: url('../img/spinBlack.png');
}

/* Error */

p.error {
    color: #cc1717;
    font-weight: bold;
    text-align: center;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    border-radius: 0px;
    background-color: #fff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}