html, body {
    margin: 0px;
    padding: 0px;
    font-family: alegreya;
    background: none;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* List into full width menu */
ul.menu {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    width: 100%;
    display: block;
    background-color: #333745;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}

ul.menu > li {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

ul.menu > li:hover {
    cursor: pointer;
    color: #FF0000;
}

ul.menu > li:active {
    color: #bf0000;
}

ul.menu > li:nth-child(1n+2):before {
    content: ' | ';
    color: #ffffff; 
}


/* Div into content block */

div.ajaxBlock {
    display: block;
    width: 100%;
}

/* Changelog */

#changelog {
    position: relative;
    height: 150px;
    background-color: #a0a0b6;
    overflow-y: auto;
    overflow-x: hidden;
}

#changelog > h1 {
    text-align: center;
    font-size: 1.2em;
    color: #00004a;
    margin: 0px;
    position: absolute;
    width: 300px;
    top: 5px;
    left: 50%;
    margin-left: -150px;
}

#changelog > ul {
    margin-top: 30px;
    margin-right: 10px;
    text-align: justify;
    list-style: square
}

#changelog > ul > li:before {
    content: attr(data-major) "." attr(data-minor) "." attr(data-release);
}


#conteudo {
    position: absolute;
    top: 190px;
    bottom: 0px;
    background-color: #5d5d8e;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Loading */

#loadingPage {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
}

#loadingPage > a {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

.spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    -webkit-animation: rotation 1.2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.whiteLoading {
    background-image: url('../img/spinWhite.png');
}

.blackLoading {
    background-image: url('../img/spinBlack.png');
}

/* Error */

p.error {
    color: #cc1717;
    font-weight: bold;
    text-align: center;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    border-radius: 0px;
    background-color: #fff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}